.message {
  padding: 1rem;
}

.container-contact {
  border: 10px solid rgb(210, 188, 188);
}

.trupti {
  position: relative;

  border: 10px solid rgb(210, 188, 188);
  width: 30%;
  border-radius: 50%;
  margin-top: 10%;
}

.abt-text {
  padding: 2rem;
}

.abt-column {
  padding: 3.5rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: rgb(248, 248, 248);
}

ul.icons {
  margin-left: 55px;
}
.icons {
  padding-top: 10px;
  list-style: none;
  display: flex;

  gap: 20px;
  color: rgb(201, 180, 180);
}

.link-contact {
  border-top: 30px solid #f0e6e3;
  border-bottom: 30px solid #f0e6e3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Poppins";
  font-weight: 200;
  background-color: rgba(236, 223, 218, 0.776);
}

.t-area {
  padding: 10px;
  width: 400px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(236, 223, 218, 0.776);
}

form {
  color: rgb(122, 110, 110);
  padding: 5rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 768px) {
  .modal-form {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .abt-column {
    padding: 2.5rem;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 3rem;
    color: rgb(122, 110, 110);
    border: 10px solid white;
  }
  .t-area {
    padding: 10px;
    width: 300px;
  }
  .link-contact {
    border-top: 50px solid #f0e6e3;
    display: grid;
    height: max-content;
    grid-template-columns: 1fr;
    font-family: "Poppins";
    font-weight: 200;
    margin-top: -4%;
  }
  .trupti {
    position: relative;
    border: 5px solid rgb(186, 159, 159);
    width: 45%;
    border-radius: 50%;
    margin-top: 10%;
  }

  .abt-text {
    padding: 3rem;
    font-size: 1rem;
    margin-top: -25%;
    padding-top: 6rem;
    color: whitesmoke;
  }
}
