.header {
  position: relative;
  z-index: 1;
  background-color: white;
  opacity: 90%;
}

#tsc-dsk {
  width: 100%;
}

#tsc-mb {
  display: none;
  width: 100%;
}
.tsc-name {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 2px;
}
.header-text {
  font-size: 8rem;
  animation: slide-up-fade 3s forwards;
  position: relative;
  bottom: 550px;
  color: #ffffffe3;
  text-align: center;
  line-height: 20px;
  font-weight: 800;
  z-index: 99;
  padding: 2rem;
}
.header-subtext {
  margin-top: 0.6rem;
  font-size: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 360px) {
  .header-text {
    font-size: 2rem;
    animation: slide-up-fade 3s forwards;
    position: relative;
    bottom: 500px;
    color: #ffffffe3;
    text-align: center;
    line-height: 20px;
    font-weight: 800;
    z-index: 99;
    padding: 0rem;
  }
  .header-subtext {
    margin-top: 0.6rem;
    font-size: 2rem;
    font-weight: 400;
    padding: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  #tsc-dsk {
    display: none;
  }

  #tsc-mb {
    display: inline;
    width: 100%;
  }

  .header-text {
    font-size: 4rem;
    bottom: 300px;
  }
  .header-subtext {
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 400;
  }
}

@media only screen and (min-width: 752px) and (max-width: 1300px) {
  .header-text {
    font-size: 6rem;
    animation: slide-up-fade 3s forwards;
    position: relative;
    bottom: 250px;
    color: #ffffffe3;
    text-align: center;
    line-height: 20px;
    font-weight: 800;
    z-index: 99;
    padding: 0rem;
  }

  .header-subtext {
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 400;
  }
}
