.-nav {
}

#nav-btn {
  background-color: transparent;
  border: none;
  position: fixed;
  color: rgb(182, 132, 25);
  z-index: 99;
  font-size: 1.5rem;
  margin: 20px;
}

#nav-btn:hover {
  color: rgb(83, 61, 13);
}
.nav-list {
  /* display: flex; */
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  color: rgb(177, 151, 151);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.initial {
  /* font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800; */
}

.nav-list:hover,
.i-list:hover {
  color: rgb(252, 190, 103);
  cursor: pointer;
  /* border-bottom: 3px solid rgb(132, 114, 114); */
}

/* .btn-primary {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 20px;
  color: rgb(252, 190, 103);
} */
