.form-btn {
  background-color: rgba(136, 112, 112, 0.803);
  border-color: transparent;
}

.form-btn:hover {
  /* background-color: rgba(67, 56, 56, 0.803); */
  border-color: transparent;
}

.link-serv {
  padding-top: 4rem;
}

.title {
  color: rgba(136, 112, 112, 0.803);
  font-weight: 200;
  letter-spacing: 2px;
  margin-left: 2rem;
}

.mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  letter-spacing: 2px;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: rgba(136, 112, 112, 0.803);
  font-weight: 200;
  height: 80vh;
}

.mission-img {
  position: relative;
  left: -40px;
  top: 200px;
  width: 100%;
  overflow: hidden;
}

.description {
  border-radius: 20px;
  color: rgb(88, 82, 82);
  padding: 5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  border-left: 20px solid #b39b99;
  background-color: rgba(230, 207, 207, 0.803);
}

.-servtext {
  border-radius: 0;
  font-weight: 200;
  position: relative;
  color: rgb(106, 102, 102);
  text-align: center;
  line-height: 25px;
  z-index: 99;
  padding: 4.5rem;
  font-size: 1.2rem;
  border-top: 20px solid #b39b99;
}

.servtxt-desc {
  list-style: none;
}

.appt-btn {
  border: none;
  background-color: rgba(136, 112, 112);
  color: white;
  text-decoration: none;
}

button {
  color: bisque;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: rgba(136, 112, 112);
}

button:hover {
  color: rgb(176, 161, 161);
  background-color: rgb(114, 94, 94);
}

.serv-dsk-img {
  width: 100%;
}
.i-list {
  color: rgb(118, 107, 107);
}

ul.icons {
  margin-left: 55px;
}
.-serv-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgb(118, 107, 107);
  font-weight: 200;
  padding: 5rem;
  text-align: center;
  gap: 75px;
  background-color: rgba(222, 193, 193, 0.803);
}

.pkg {
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 20px;
  color: rgb(165, 156, 156);
  border-left: 10px solid rgba(201, 183, 183, 0.803);
}

.serv-title {
  margin-top: 1.5rem;
  color: rgb(165, 156, 156);
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.sub-title {
  font-weight: 400;
  text-decoration: underline;
}

/* media queries ------------------*/

@media only screen and (min-width: 549px) and (max-width: 1024px) {
  .mission-img {
    display: none;
  }

  .mission {
    display: grid;
    grid-template-columns: 1fr;
    letter-spacing: 2px;
    background-color: rgb(255, 255, 255);
    color: rgba(136, 112, 112, 0.803);
    font-weight: 200;
    height: 65vh;
  }
  .-serv-options {
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(118, 107, 107);
    font-weight: 200;
    padding: 2rem;
    text-align: center;
    gap: 75px;
  }
}

@media only screen and (max-width: 568px) {
  .mission-text {
    padding-bottom: 0;
  }
  .-serv-sect {
    margin-top: -25%;
    position: relative;
    z-index: 9;
  }
  .mission-img {
    display: none;
  }
  .mission {
    display: grid;
    grid-template-columns: 1fr;
    letter-spacing: 2px;
    background-color: rgb(255, 255, 255);
    color: rgba(136, 112, 112, 0.803);
    font-weight: 200;
    height: 65vh;
  }

  .description {
    border-radius: 20px;
    color: rgb(109, 105, 105);
    padding: 2rem;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1.5px;
    border-left: none;
    background-color: transparent;
  }

  .-serv-options {
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(118, 107, 107);
    font-weight: 200;
    padding: 2rem;
    text-align: center;
    gap: 75px;
  }

  .-servtext {
    border-radius: 0;
    background-color: rgba(198, 167, 154, 0.871);
    font-weight: 200;
    color: #ffffffe3;
    text-align: center;
    line-height: 25px;
    z-index: 99;
    padding: 2.6rem;
    font-size: 1rem;
    border-bottom: 20px solid rgba(230, 207, 207, 0.803);
  }
  .servtxt-desc {
    color: #ffffffe3;
    font-weight: 200;
    line-height: 1.3;
  }
  .pkg {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 10px;
    color: rgb(165, 156, 156);
    border-left: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-bottom: 10px solid rgba(230, 207, 207, 0.803);
  }
}
